---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>The Dev Behind the Scenes</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blogs</a>
        <h2>About Me</h2>
        <p>
            Hello! I'm Atharva, an entry-level back-end developer passionate
            about creating reliable and secure applications. Currently, I'm
            working at a startup focused on building a cutting-edge
            cybersecurity product based on Zero Trust principles.
        </p>
        <p>
            This blog, <strong>DevBehindTheScenes</strong>, is where I document
            my journey, share technical insights, and explore topics related to
            back-end development and cybersecurity. I aim to create content that
            helps others in the tech community while continuously growing my
            skills.
        </p>
        <p>
            Thank you for joining me here. Feel free to reach out if you’d like
            to connect or discuss all things tech!
        </p>
    </body>
</html>
